body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
/* Fixed layout */
.fixed .main-header-sections {
  position: fixed;
}
.fixed .main-header-sections {
  top: 0;
  right: 0;
  left: 0;
}
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif !important;
}



.form-control:not(select) {
  /*
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}

.info-box-text {
  /*text-transform: uppercase;*/
}
/*all new below*/



.info-card {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.info-card .info-card-header.ch-alt:not([class*="bgm-"]) {
  background-color: #f7f7f7;
}

.info-card .info-card-header.ch-alt {
  padding: 23px 26px;
}
.info-card .info-card-header {
  position: relative;
}

.info-card .info-card-body.info-card-padding {
  padding: 23px 26px;
}

.info-card .info-card-header h2 {
  margin: 0;
  line-height: 100%;
  font-size: 17px;
  font-weight: 400;
}

/*above all new*/
/****

 BREADCRUMBS / APPBAR 
  ***/

.oxy-appbar {
  position: relative;
background-color: #f8f8f8 !important;
  min-height: 40px;
  line-height: 39px;
  padding: 0;
  display: block;
  z-index: 1;
  border-radius: 0 !important; 
}

ul.oxy-appbar-links,
.oxy-appbar-links {
    display: inline;
    border-radius: 0 !important; 
    line-height: 24px;
    font-size: 13px;
    color: #333;
    z-index:50;
    background-color: transparent !important;
    padding: 0 !important; 
    margin: 0 !important;     
}
.oxy-appbar-links li {
    list-style-type: none !important; 
    display: inline;
    background-color:transparent !important;
    padding: 0px; 

}
.oxy-appbar-links li a {
    padding: 12px !important; 
    margin: 0 !important;    
}
.oxy-appbar-links > li + li:before {
    padding:0px;
    content: '' !important;
}
.app-shortcuts-bar {
    min-height: 15px !important; 
    padding: 0px !important;
    padding-left: 15px !important;
    background-color: #fff;
    margin-left:0px;
}

.app-shortcuts-bar a.li_shortcut { 
    color:#999; 
    border:rgb(255,255,255); 
    background:rgb(255,255,255) !important;
    margin:5px;
    margin-right:10px;
    margin-left:-10px;    
}    
.app-shortcuts-bar a.li_shortcut:hover  { 
    color:#666 !important;
    background:rgb(248,248,248) !important;
}

.oxy-appbar .oxy-appbar-links li a  {
    padding: 12px !important;  
}
.oxy-appbar .oxy-appbar-links li.active-item  {
    border-right:#eee solid 1px !important;
    padding: 12px !important; 
    margin: 0 !important;    
}
    
.oxy-appbar .oxy-appbar-links li.active-item,
.oxy-appbar .oxy-appbar-links li.inactive-item:hover,
.oxy-appbar .oxy-appbar-links li.active-item:hover  {
    background:#fefefe !important;
}

.oxy-appbar .oxy-appbar-links li.inactive-item a  { color:#999 !important;margin-right:5px;margin-left:5px;}
.oxy-appbar .oxy-appbar-links li.active-item a    { font-weight:bold !important;margin-right:5px;margin-left:5px;}
.oxy-appbar .oxy-appbar-links li.general-item a    { font-weight:bold !important;margin-right:5px;margin-left:5px;}

.oxy-appbar .oxy-appbar-links li.lang_select {
    padding:5px;
    margin:0px;
    margin-top: 0;
    margin-bottom: 10px;
}



















/** 
 * fixes for users edit profile (admin)
 *
 */
.input-group.form-control input{
  width:100%;
  height:100%;
  padding:0px;
  line-height:1.5em;
  border:none;
}
.input-group.form-control textarea {
  width:100%;
  padding:0px;
  line-height:1.5em;
  border:none;
}
.input-group.form-control select {
  height:100%;
  padding:0px;
  line-height:1.5em;
  border:none;
  display: table-cell; 
}


ul.form-list {
  margin:0px;
  padding:0px;
}
ul.form-list li {
  list-style-type: none;
  margin-top:4px;
  margin-bottom:8px;
}



/**
 * Oxybuttons
 *
 *
 */
.btn-edit,
.oxybtn-view,
.oxybtn-delete {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
  color: #ffffff;
}


.btn-edit:hover,
.oxybtn-view:hover,
.oxybtn-delete:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}


.btn-edit:focus,
.oxybtn-view:focus,
.oxybtn-delete:focus {
  outline: none;
}

.btn-edit:active,
.oxybtn-view:active,
.oxybtn-delete:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*Edit button */
.btn-edit {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd; 
}
.btn-edit:hover,
.btn-edit:active{
  background-color: #e7e7e7 !important;
}
/* btn btn-edit */


/*
 * Built in hidden filters
 */
.oxygen_hidden_filters {
  display:none;
}

div.oxy-padded-items * {
  margin:5px;
}


