    {{ theme:js file="plugins/jQuery/jQuery-2.1.4.min.js" }}
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    {{ theme:css file="bootstrap.min.css" }}
    {{ theme:css file="AdminLTE.css" }}
    {{ theme:css file="skins/skin-blue.css" }}


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    {{# theme:favicon #}}
    {{ template:metadata }}
    {{ integration:analytics }}    
    <base href="{{ url:base }}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ asset:render_js }}

    <!-- Define the head area to add more content during a page build-->
    {{ layout:placeholder name="head" }}
    {{ /layout:placeholder }}       